///////////////////////////////////////////////////
/////Colores, Mixins, y classes compartidas
///////////////////
@font-face {
    font-family: 'Uber-Move-Text';
    src: url('../font/UberMoveText-Regular.woff2') format('woff2'), url('../font/UberMoveText-Regular.woff') format('woff'), url('../font/UberMoveText-Regular.ttf') format('truetype'), url('../font/UberMoveText-Regular.svg#UberMoveText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uber-Move-Text';
    src: url('../font/UberMoveText-Light.woff2') format('woff2'), url('../font/UberMoveText-Light.woff') format('woff'), url('../font/UberMoveText-Light.ttf') format('truetype'), url('../font/UberMoveText-Light.svg#UberMoveText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uber-Move-Text';
    src: url('../font/UberMoveText-Bold.woff2') format('woff2'), url('../font/UberMoveText-Bold.woff') format('woff'), url('../font/UberMoveText-Bold.ttf') format('truetype'), url('../font/UberMoveText-Bold.svg#UberMoveText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uber-Move-Text';
    src: url('../font/UberMoveText-Medium.woff2') format('woff2'), url('../font/UberMoveText-Medium.woff') format('woff'), url('../font/UberMoveText-Medium.ttf') format('truetype'), url('../font/UberMoveText-Medium.svg#UberMoveText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.hide {
    display: none;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.shadow1 {
    box-shadow: 0 5px 10px rgba(39, 40, 44, 0.05), 0 15px 40px rgba(64, 66, 73, 0.2);
    &:hover {
        box-shadow: 0 7px 15px rgba(33, 34, 37, 0.05), 0 20px 45px rgba(48, 49, 54, 0.2);
    }
}

.scale {
    transition: 0.7s transform;
    &:hover {
        transition: 0.7s transform;
        transform: scale(1.1);
    }
}

.shadow2 {
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    &:hover {}
}

// https://coolors.co/264653-f2f6d0-d0e1d4-d9d2b6-e4be9e 
$padding: 15px;
$first-color:#19c673; //color principal
$second-color:#05a357; //color para resaltes pequeños
$third-color:#f6f0ea; //color fondo para recuadritos y tal
$fourth-color: #7319c6; //color triadico 1
$fifth-color:#c67319; //color triadico 2
$sixth-color: #19c3c6; //color analogo 1
$seventh-color: #19c61d; // color analogo 2
$eightth-color: #c6196c; //color complementario
$white: #ffffff; //blanco
$black: #000000; //negro
$grey: #eee;
$letter-grey: #797c7e;
$grid-float-breakpoint: 1200px; //puntp de canvio de pantallas
$movil: 600px;
$mobil: 600px;
:root {
    --first-color: #19c673; //color principal
    --second-color: #05a357; //color para resaltes pequeños
    --third-color: #f6f0ea; //color fondo para recuadritos y tal
    --fourth-color: #7319c6; //color triadico 1
    --fifth-color: #c67319; //color triadico 2
    --sixth-color: #19c3c6; //color analogo 1
    --seventh-color: #19c61d; // color analogo 2
    --eightth-color: #c6196c; //color complementario
    --white: #ffffff; //blanco
    --black: #000000; //negro
    --grey: #eee;
    --letter-grey: #797c7e;
    --fuente1: 'Uber-Move-Text', sans-serif; //light 300, regular 400, medium 500, semi-bold 600, bold 700
    --size-standar: calc(12px + 0.2vw);
    --size-medium: calc(15px + 0.2vw);
    ///////STARS
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --dir: right;
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --x: calc(100% * (var(--value) / var(--stars)));
}


/*  MIXINS
========================================== */

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -webkit-transition: #{$transition};
    -moz-transition: #{$transition};
    -o-transition: #{$transition};
    transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: #{$transition-delay};
    -moz-transition-delay: #{$transition-delay};
    -o-transition-delay: #{$transition-delay};
    transition-delay: #{$transition-delay};
}

::-webkit-scrollbar {
    width: 20px;
    &-thumb {
        background: var(--first-color);
        border-radius: 1px;
    }
    &-track {
        background-color: var(--third-color);
    }
}

///////////////////////////////////////////////////
/////configuración de la página
///////////////////777
* {
    font-family: var(--fuente1);
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative
}

.overlay {
    z-index: -10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.411);
    opacity: 0;
    &.active {
        z-index: 10;
        opacity: 1;
    }
}

///////////////////////////////////////////////////
/////demas
///////////////////777
.sidenav {
    position: absolute;
    height: 100%;
    width: 20vw;
    transition: 1s all;
    left: -21vw;
    z-index: 15;
    opacity: 0;
    // left: calc(-(100% - 20vw));
    background-color: var(--black);
    &.open {
        display: block;
        left: 0;
        opacity: 1;
    }
}

menu {
    height: 11vh;
    background: var(--white);
    display: flex;
    align-items: CENTER;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    .container-menu {
        display: flex;
        max-width: 1920px;
        justify-content: center;
        margin: auto;
        .burger {
            .boton-burger {
                background-color: transparent;
                border: none;
                cursor: pointer;
                display: flex;
                padding: 0;
                .line {
                    fill: none;
                    stroke: var(--black);
                    stroke-width: 6;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                .line1 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }
                .line2 {
                    stroke-dasharray: 60 60;
                    stroke-width: 6;
                }
                .line3 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }
                &.opened {
                    .line1 {
                        stroke-dasharray: 90 207;
                        stroke-dashoffset: -134;
                        stroke-width: 6;
                    }
                    .line2 {
                        stroke-dasharray: 1 60;
                        stroke-dashoffset: -30;
                        stroke-width: 6;
                    }
                    .line3 {
                        stroke-dasharray: 90 207;
                        stroke-dashoffset: -134;
                        stroke-width: 6;
                    }
                }
            }
        }
        .logo {
            position: relative;
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            img {
                height: 90px;
                width: auto
            }
        }
        .toggle {}
        .container-search-top {
            display: flex;
            align-items: center;
            .search-top {
                padding: 10px 15px;
                margin: 20px 15px;
                background: var(--grey);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 40vw;
                svg {
                    margin-right: 5px;
                }
                input {
                    background: transparent;
                    width: 100%;
                    &:focus-visible {
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        .container-search-top.ficha {
            opacity: 0;
            pointer-events: none;
        }
        .login {
            button {
                padding: 12px 16px;
                border-radius: 500px;
                background: #eee;
                font-size: calc(12px + 0.2vw);
                &:active {
                    background: #CBCBCB;
                }
                &:focus,
                &:focus-within {
                    outline: none;
                }
                &:target {
                    outline: none;
                }
                &:hover {
                    background: #E2E2E2;
                }
                &:visited {}
                &:focus-visible {}
            }
        }
    }
}

header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
    max-width: 1920px;
    //margin: 9.3333vh auto auto auto;
    margin: auto;
    position: relative;
    .search-header {
        padding: 15px 15px;
        margin: 20px 15px;
        background: var(--grey);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 40vw;
        svg {
            margin-right: 5px;
        }
        input {
            background: transparent;
            width: 100%;
            &:focus-visible {
                border: none;
                outline: none;
            }
        }
    }
    .bg-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: #fff2d9;
        .bg-svg {
            //width: 33.33%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -10;
            img {
                height: 100%;
                width: auto;
                object-fit: cover;
            }
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
    }
    &.header-tipo {
        height: calc(20vh);
        .bg-header {
            @extend .bg-header;
            width: 100%;
            .bg-svg {
                width: 100%;
                &.all-width {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

form.tipos {
    margin: 15px 30px;
}

//recordar que usamos owl-carousel para el slider de los items
//cada item del filtro de tipos de cocina
.item-cousine {
    width: 80%;
    height: 75px;
    margin: 20px auto;
    background: var(--third-color);
    input[type="checkbox"] {
        display: none;
        //le metemos la foto por un background... seria mejor meter un img, pero de momento asi y estilos en linea 
        &+label {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-size: 100px;
            position: relative;
            cursor: pointer;
            font-size: var(--size-medium);
            background-image: url(../storage/comidas/china.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: right;
            &:after {
                content: " ";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        ////poner el recuadro cuando selecciones la foto con el input check en oculto
        &:checked {
            &+label {
                &:after {
                    border: solid var(--second-color) 4px;
                }
            }
        }
    }
}

/////////////////////////////////
//Lista restaurantes
//container del "widget" de los rsultados del filtro
.container-list-restaurantes {
    padding: 10px;
    margin: 40px;
    @extend .flex-cv;
    flex-flow: column;
    h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    //grid de todos los resultados del filtro
    .grid-restaurantes {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 20px;
        @media (max-width: $grid-float-breakpoint) {
            grid-template-columns: 1fr;
        }
        //cada item del restaurante
        .item-restaurant {
            position: relative;
            width: 100%;
            max-width: 600px;
            height: 15vh;
            display: flex;
            flex-flow: row nowrap;
            >a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            img {
                height: 100%;
                width: 30%;
                object-fit: contain;
            }
            .info-restaurante {
                padding: 5px 5px 5px 10px;
                //nombre del restaurante
                h4 {
                    text-transform: capitalize;
                    width: 100%;
                    font-size: var(--size-medium);
                    font-weight: 500;
                }
                h6 {
                    color: var(--letter-grey);
                    font-size: var(--size-standar);
                    //caracterisitcas, como tipo  de cocina, etc
                    &:nth-child(1) {}
                    //ubicacion, direccion, etc
                    &:nth-child(2) {}
                }
                small {
                    position: absolute;
                    top: 0;
                    right: 0;
                    clip-path: circle(50% at 50% 50%);
                    background: var(--grey);
                    width: 30px;
                    height: 30px;
                    @extend .flex-cv;
                }
            }
        }
    }
}

//////////////////////////////7777
//FOOTER //
footer {
    background: var(--black);
    min-height: 20vh;
    @extend .flex-cv;
    @media (max-width: $grid-float-breakpoint) {
        flex-flow: column;
    }
    .container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        max-width: 60%;
        @media (max-width: $grid-float-breakpoint) {
            flex-flow: column;
        }
        .logo {
            img {
                max-height: 100px;
            }
        }
        .description {
            margin: 15px;
            padding: 15px;
            @extend .flex-cv;
            p {
                color: var(--white);
                width: 50%;
                text-align: center;
                @media (max-width: $grid-float-breakpoint) {
                    width: 100%;
                }
            }
        }
        .social-icons {
            display: flex;
            flex-flow: wrap;
            a {
                margin: 10px;
                i {
                    color: var(--white);
                    font-size: 50px;
                }
            }
        }
    }
}

///////////////////////////////////////////
///PAGINA TIPO FICHA RESTAURANTE
/////////////////////////////////////////
.content.region-tipo {
    display: flex;
    flex-flow: row wrap;
    @extend .flex-cv;
    @media (max-width: $grid-float-breakpoint) {
        flex-flow: column wrap;
    }
    .info-resta {
        width: 30%;
        display: flex;
        align-content: center;
        @media (max-width: $grid-float-breakpoint) {
            width: 100%;
        }
        .container-info {
            padding: 15px 25px;
            @extend .flex-cv;
            flex-flow: column;
            .nombre-resta {
                h2 {
                    font-weight: bold;
                }
            }
            .more-info-resta {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                .nota {
                    p {}
                }
                .tipo-resta {
                    p {}
                }
                .precio {
                    p {}
                }
            }
            .descripcion {
                margin-top: 10px;
                h3 {
                    font-size: 25px;
                    display: flex;
                    justify-content: center;
                }
                p {
                    padding-top: 15px;
                }
            }
            .direccion {
                .direccion-resta {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
    .ubicacion {
        width: 50%;
        z-index: 1;
        @media (max-width: $grid-float-breakpoint) {
            width: 100%;
        }
        .container-mapa {
            height: 66vh;
            padding: 15px 25px;
            #map {
                height: 100%;
            }
        }
    }
}

.region-2 {
    width: 100%;
    @extend .flex-cv;
    .container-reviews {
        padding: 30px 0px;
        border: 2px var(--first-color) solid;
        margin: 15px 25px;
        width: 70%;
        @extend .flex-cv;
        flex-flow: column;
        position: relative;
        .bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            background-image: url(../storage/banners/xinaright.svg);
            background-repeat: no-repeat;
            background-size: cover;
            // background-size: ;
            // .left {
            //     background-image: url(../../public/storage/banners/japoleft.svg);
            //     background-repeat: no-repeat;
            //     background-size: cover;
            //     position: absolute;
            //     width: 50%;
            //     height: 100%;
            //     top: 0;
            //     left: 0;
            // }
            // .right {
            //     background-image: url(../../public/storage/banners/japoright.svg);
            //     background-repeat: no-repeat;
            //     background-size: cover;
            //     position: absolute;
            //     width: 50%;
            //     height: 100%;
            //     top: 0;
            //     right: 0;
            // }
        }
        form {
            @extend .flex-cv;
            flex-flow: column nowrap;
            background: var(--white);
            max-width: 700px;
            width: 100%;
            textarea {
                width: 70%;
                max-width: 70%;
                height: 250px;
                max-height: 250px;
                border: var(--grey) 1px solid;
            }
            input[type="submit"] {
                margin: 15px;
                background: var(--first-color);
                padding: 10px;
            }
        }
        .card-review {
            background: var(--white);
            margin: 15px;
            max-width: 800px;
            border: var(--grey) 1px solid;
            padding: 10px;
            .nota-resta {
                .rating-label {}
            }
            .user-info {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                .foto-user {
                    padding: 10px;
                    img {}
                    i {
                        font-size: calc(30px + 1vw);
                    }
                }
                .nombre-user {
                    padding: 10px;
                    p {
                        font-size: calc(15px + 0.5vw);
                    }
                }
            }
            .descripcion-user {
                padding: 10px;
                p {}
            }
        }
    }
}

[dir="rtl"] .rating {
    --dir: left;
}

.rating-label,
.rating {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

.rating-label {
    margin-block-end: 1rem;
}

.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
    &::-moz-range-track {
        background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
    }
    &::-webkit-slider-runnable-track {
        background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
        -webkit-mask: repeat left center/var(--starsize) var(--symbol);
    }
    &::-moz-range-thumb {
        height: var(--starsize);
        opacity: 0;
        width: var(--starsize);
    }
    &::-webkit-slider-thumb {
        height: var(--starsize);
        opacity: 0;
        width: var(--starsize);
        -webkit-appearance: none;
    }
}

/////////////////////////
//popup
////////////////////////////////7
.overlay-p {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 10;
    &.active {
        visibility: visible;
        overflow: hidden;
    }
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 600px;
    max-height: 80vh;
    min-height: 35vh;
    overflow-y: auto;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    z-index: 30;
    .btn-cerrarPop {
        font-size: 16px;
        line-height: 16px;
        display: block;
        text-align: right;
        transition: .3s ease all;
        color: #BBBBBB;
        &:hover {
            color: #000;
        }
    }
    h3 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 10px;
        opacity: 0;
        span {
            //numero del ejercicio
            font-weight: inherit;
        }
    }
    h4 {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 40px;
        opacity: 0;
    }
    .contenedor-popup {
        opacity: 0;
        margin-top: 50px;
    }
    button,
    input[type="button"] {
        margin-top: 10px;
        padding: 10px 15px;
        background: var(--first-color);
        color: var(--first-color);
    }
    &.active {
        transform: scale(1);
        opacity: 1;
        h3 {
            animation: entradaTitulo .8s ease .5s forwards;
        }
        h4 {
            animation: entradaSubtitulo .8s ease .5s forwards;
        }
        .contenedor-popup {
            animation: entrada3 1s linear 1s forwards;
        }
    }
}

@keyframes animate {
    //animacion fondo
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        // border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        // border-radius: 50%;
    }
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entrada3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//ESTILOS CREAR///////////////////////////////////////////////
body.login {
    @extend .flex-cv;
    .cuadro_login {
        height: auto!important;
    }
}

///////SIDEBAR/////////////////////////////////////////////
.twitter-timeline {
    margin-top: 220px!important;
}